@using System.Configuration
@model DataLayer.Users

<div style="direction:rtl;padding:20px">
    <h2>@Model.UserName گرامی! </h2>
    <p>برای بازیابی گذرواژه، بر روی لینک زیر کلیک نمایید .</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/ForgetPassword/@Model.ActiveCode"> لینک بازیابی</a>
    </p>

</div>

