
@{
    ViewBag.Title = "ActiveUser";
}

<h2>فعالسازی حساب کاربری</h2>
<div class="alert alert-success">
    <h2>@ViewBag.UserName گرامی !</h2>
    <p>حساب کاربری شما پویا شد. از راه این 
    
    <a href="/Login">لینک</a>
    وارد سایت شوید.</p>

</div>

