@model DataLayer.Users
@{
    ViewBag.Title = "ثبت نام";
    
}

<div class="alert alert-success">
    <h2>@Model.UserName گرامی،با سپاس از نامنویسی شما در سایت .</h2>
    <p> ایمیلی دارای لینک پویا سازی به ایمیل شما @Model.Email فرستاده شد; لطفا وارد ایمیل فوق شوید و روی ورودی لینک کلیک کنید .</p>
</div>

