@model DataLayer.Users
@{
    ViewBag.Title = "بازیابی گذرواژه";

}

<div class="alert alert-success">
    <h2>@Model.UserName گرامی </h2>
    <p>ایمیلی برای بازیابی گذر واژه به ایمیل شما @Model.Email فرستاده شد; لطفا وارد ایمیل فوق شوید و روی ورودی لینک کلیک کنید .</p>
</div>


